{% extends 'base.html.twig' %}

{% block title %}Symfony{% endblock %}

{% block body %}
    {% for product in products %}
    <div class=container-md>
        <div class="row">
            <div class="col text-center">
                <h3>{{product.name}}</h3>
                <img class="img-fluid"  src={{product.picture}} alt="">
                <a class="btn btn-outline-primary" href="{{ path('app_product_detail', {slug:product.slug}) }}">Détail</a>
            </div>
        </div>
    </div>
        
    {% endfor %}
{% endblock %}
